<div class="col-md-9">
  <div calss="row">
    <span class="user_profile_image">
      <%= image_tag question.user.profile_image, size: 80 %>
    </span>
    <h3><%= link_to question.user.name, question.user %>@<%= question.user.alias_name %></h3>
    <span class="content">
      <%= question.content %>
    </span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(question.created_at) %> ago.
    </span>

    <% if current_user == question.user %>
      <%= link_to "delete", question_path(question), method: :delete, data:{confirm: "You sure?"} %>
    <% else %>
      <%= link_to "Answer!", controller: "answers", action: "new", id: question.id, class: "btn btn-outline-success" %>
    <% end %>
  </div>
</div>
