<%= provide(:tiele, "Update your profile") %>
<h1>Update <%= @user.name %>'s Profile</h1>

<!-- FIXME -->
<!-- Bootstrapで以下をリスト形式の表示に直す -->

  <%= form_for(@user) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

      <h3><%= f.label :cover_image %></h3>
      <%= image_tag @user.cover_image.url if @user.cover_image? %>
      <%= f.file_field :cover_image %></br>

      <h3><%= f.label :profile_image %></h3>
      <%= image_tag @user.profile_image.url if @user.profile_image? %>
      <%= f.file_field :profile_image %></br>

      <div class="form-group">
        <h3><%= f.label :name %></h3>
        <%= f.text_field :name, class: "form-control" %></br>
      </div>

      <div class="form-group">
        <h3><%= f.label :email %></h3>
        <%= f.text_field :email, class: "form-control" %></br>
      </div>

      <div class="form-group">
        <h3><%= f.label :area%></h3>
        <%= f.text_field :area, class: "form-control" %></br>
      </div>

      <div class="form-group">
        <h3><%= f.label :introduce %></h3>
        <%= f.text_area :introduce, class: "form-control" %></br>
      </div>

      <div class="form-group">
        <h3><%= f.label :skill_list, "Skills" %></h3>
        <%= text_field_tag 'user[skill_list]', @user.skill_list.join(','), class: "form-control" %></br>
      </div>

      <div class="form-group">
        <h3><%= f.label :interest_list, "Interests" %></h3>
        <%= text_field_tag 'user[interest_list]', @user.interest_list.join(','), class: "form-control" %></br>
      </div>

  <!-- リスト形式ここまで -->

        <%= f.submit "Update Profile", class: "btn btn-primary btn-lg btn-block" %></br>
  <% end %>

