<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<p><%= @user.profile_image %></p>
<p><%= @user.cover_image %></p>
<p><%= @user.alias_name %></p>
<p><%= @user.area %></p>
<p><%= @user.introduce %></p>
<div>
  <% if @user.genre_users.any? %>
    <p><%= @user.name %>'s Genres</p>
      <ol class="genre_users" >
        <!-- FIXME 後のブランチにてユーザーが登録したジャンルが表示されるようにする -->
      </ol>
  <% end %>
</div>
<!-- ユーザーが投稿した質問もタイムライン形式で表示させる -->
<%= render 'shared/stats' %>
<%= render 'users/follow_form' if user_signed_in? %>
