<% provide(:title, @user.name) %>
<h1><%= @user.name %></h1>
<p><%= @user.profile_image %></p>
<p><%= @user.cover_image %></p>
<p><%= @user.alias_name %></p>
<p><%= @user.area %></p>
<p><%= @user.introduce %></p>

<p><%= render 'users/tag_list', tag_list: @user.skill_list %></p>
<p><%= render 'users/tag_list', tag_list: @user.interest_list %></p>

<% if current_user == @user %>
  <p><%= link_to "Update profile", edit_user_path(current_user) %></p>
<% end %>

<%= render 'shared/stats' %>
<% if signed_in? %>
<%= render 'users/follow_form' unless current_user.id == @user.id %>
<% end %>
<ol>
  <%= render @questions %>
</ol>
