<!DOCTYPE html>
<html>
  <head>
    <title>Ask Skill Holders</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <div class="header bg-dark">
      <div class="container">
        <%= link_to "Ask Skill Holders", root_path, id: "logo" %>
        <nav>
          <ul class="nav justify-content-end">
            <% if signed_in? %>
              <li class="nav-items"><%= link_to "Home", root_path %></li>
              <li class="nav-items"><%= link_to "AskQuestion", new_question_path %></li>
              <li class="nav-items"><%= link_to "AnswerQuestons", questions_path %></li>
              <li class="nav-items"><%= link_to "FindUsers", users_path %></li>
              <li class="nav-items"><%= link_to "MyProfile", current_user %></li>
              <div class="btn-group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Setting
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <button class="dropdown-item" type="button"><%= link_to "UpdateMyProfile", edit_user_path(current_user) %></button>
                  <button class="dropdown-item" type="button"><%= link_to "Setting", edit_user_registration_path(current_user) %></button>
                  <button class="dropdown-item" type="button"><%= link_to "SignOut", destroy_user_session_path, method: "delete" %></button>
                </div>
              </div>
            <% else %>
              <li class="nav-items"><%= link_to "About"  %></li>
              <li class="nav-items"><%= link_to "SignIn", new_user_session_path, class: "btn btn-lg btn-primary" %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
      <div class="container wrapper">
        <% flash_messages %>
        <%= yield %>
        <div class="push"></div>
      </div>
  </body>
</html>
