<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <%= link_to "OriginalApp", root_path %>
        <nav>
          <ul>
            <li><%= link_to "Home", '#'%></li>

            <% if signed_in? %>
              <li><%= link_to "Question", '#'%></li>
              <li><%= link_to "Notice", '#' %></li>
              <!-- FIXME -->
              <!-- ドロップダウンにする場所ここから -->
              <li><%=link_to "Profile", '#'%></li>
              <li><%=link_to "Setting", '#'%></li>
              <li> <%=link_to "Sign out", destroy_user_session_path, method: "delete"%> </li>
              <!-- ドロップダウンにする場所ここまで  -->
              <li><%=link_to "Ask Question", '#'%></li><!-- クリックすると画面上に投稿フォーマットが浮かび上がるようにする -->
              <% else %>
              <li><%= link_to "Sign in", new_user_session_path %></li>
            <% end %>

          </ul>
        </nav>
      </div>
    </header>

    <div class="container">
      <%= yield %>
    </div>
  </body>

</html>
